* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

:root {
  /* Primary Colors */
  --primary-red: #e80e0e;
  --primary-black: #000000;
  --primary-white: #ffffff;

  /* Secondary Colors */
  --light-gray: #f8f8f8;
  --medium-gray: #888888;
  --dark-gray: #333333;
  --dark-black: #1e1e1e;

  /* Feature Card Gradient Colors */
  --cleaning-dark: #0a1a2a;
  --authentication-dark: #0a2a0a;
  --shipping-dark: #202020;
  --fees-dark: #0a152a;
  --guarantee-dark: #2a0a0a;

  /* Button Gradient Colors */
  --red-to-darkRed: linear-gradient(90deg, #e80e0e 100%, #a50707 100%);
  /* Gradient Backgrounds */
  --button-gradient: linear-gradient(90deg, #e80e0e 100%, #a50707 100%);
  --hero-gradient: linear-gradient(90deg, #000000 0%, #e80e0e 100%);
  --main-gradient: linear-gradient(180deg, #e80e0e 0%, #000000 100%);
  --brand-blackToDark: linear-gradient(90deg, #000000 0%, #333333 100%);
}

/* Plus pattern for dark backgrounds */
.plus-pattern-dark {
  /* position: relative; */
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.0'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* .plus-pattern-dark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.2) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 1px, transparent 1px);
  background-size: 20px 20px;
  background-position: center;
  pointer-events: none;
  z-index: 0;
} */

.plus-pattern-dark::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.14'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  pointer-events: none;
  z-index: 0;
}

.plus-pattern-light {
  position: relative;
  background-image: linear-gradient(
      to right,
      rgba(224, 224, 224, 0.3) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(224, 224, 224, 0.3) 1px, transparent 1px);
  background-size: 20px 20px;
  background-position: center;
}

header {
  width: 100%;
  height: 80px;
  background: var(--brand-blackToDark);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* subtle shadow */
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  max-width: 1990px;
  margin: 0 auto;
  height: 100%;
  /* width: 100%; */
}

.logo img {
  width: 50px;
  height: 50px;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 18px;
  width: 100%;
}

.nav-menu li a {
  text-decoration: none;
  color: var(--primary-white);
}

.nav-menu li a:hover {
  color: var(--primary-red);
  transition: color 0.2s ease;
}

.btn-primary {
  padding: 1rem;
  border-radius: 4px;
  background-color: var(--primary-red);
  color: var(--primary-white);
  font-weight: 600;
  border: none;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-primary:hover {
  background-color: #ba0b0b;
}

/* Hero Section */

.hero-content {
  display: flex;
  background: var(--brand-blackToDark);
  padding: 4rem 2rem;
  min-height: 600px;
  width: 100%;
  z-index: 1;
  position: relative;
}
.hero-content-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  padding: 18px;
  flex: 1;
  z-index: 1;
  max-width: 600px;
}

.hero-content-left h1,
.hero-content-left h2 {
  color: var(--primary-white);
  margin: 0;
}

.hero-content-left h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 58px;
}

.hero-content-left h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
}

.hero-content-left button {
  background-color: var(--primary-red);
  color: var(--primary-white);
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hero-content-left button:hover {
  background-color: #c50c0c;
}

.hero-content-right {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.hero-image-1 {
  position: absolute;
  z-index: 3;
  max-width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -61%);
}

.hero-image-2 {
  position: relative;
  z-index: 2;
  max-width: 60%;
  top: 50%;
  left: 30%;
  transform: translate(-17%, -20%) rotate(-15deg);
}
.hero-image-3 {
  position: relative;
  z-index: 1;
  max-width: 50%;
  top: 60%;
  left: 10%;
  transform: translate(-36%, -1%) rotate(1deg);
}

.hero-content-right img {
  max-width: 100%;
  height: auto;
}

/* Feature/Products Section */

.section-header {
  color: var(--primary-black);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  margin: 0.5rem 0 1rem 0;
  line-height: 3rem;
  text-align: center;
}

.section-subheader {
  color: var(--primary-black);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--light-gray);
  padding: 1rem 2rem;
  width: 100%;

  margin: 0 auto;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  width: 100%;
}

.product-card {
  border-radius: 8px;
  background-color: var(--primary-white);
  border: 1px solid #eeeeee;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 100%;
  height: 350px;
  padding: 0.5rem;
  align-items: flex-start;
  flex-direction: column;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.15);
}

.product-image-container {
  width: 100%;
  height: 60%;
  overflow: hidden;
}

.product-pricing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.product-price {
  font-weight: 700;
  font-size: 1.2rem;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-details {
  /* padding: 0.5rem; */
  width: 100%;
}

.product-name {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.product-description {
  font-size: 0.85rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.discount {
  color: #e80e0e;
  font-size: 0.85rem;
  font-weight: 600;
}

/* Brands Styles */
.brands {
  padding: 5rem;
}

.brands-carousel {
  display: flex;
  justify-content: center;
  /* gap: 2rem; */
  padding: 2rem 0;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: transparent; /* Match the section background */
  border-radius: none; /* Ensure no rounded corners */
}

/* For the scrolling effect */
.brands-carousel::before,
.brands-carousel::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  z-index: 2;
}

.brands-carousel::before {
  left: 0;
  background: linear-gradient(to right, transparent);
}

.brands-carousel::after {
  right: 0;
  background: linear-gradient(to left, transparent);
}

.brand-item {
  flex-shrink: 0;
  min-width: 120px;
  height: 80px;
  background-color: transparent;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.brand-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* For the animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.brands-scroll {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}

.brands-subsection {
  padding: 3rem 0;
  width: 100%;
  text-align: center;
}

/* Features Section */

.features .container {
  background: var(--dark-black);
}

.features .section-header,
.features .section-subheader {
  color: var(--primary-white);
}
.features-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.feature-card {
  /* background-color: #282828; */
  background: linear-gradient(180deg, #545454 0%, #1e1e1e 100%);
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  padding: 1.5rem 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.feature-title {
  color: var(--primary-white);
  font-size: 14px;
  line-height: 1.4;
}

.feature-text {
  margin: 0;
  font-size: 14px;
  color: #cccccc;
}

.feature-icon {
  background-color: transparent; /* Subtle background */
  border-radius: 50%; /* Circular background */
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-icon i {
  font-size: 2rem;
  color: white;
}

.cta .container {
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.14'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.cta .section-header,
.cta .section-subheader {
  color: var(--primary-white);
}

.waitlist-input {
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  border: 1px solid #d0d0d0;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  background-color: var(--primary-white);
  color: var(--dark-gray);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.cta-waitlist-input {
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #d0d0d0;
  width: 70%;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  background-color: var(--primary-white);
  color: var(--dark-gray);
  transition: border-color 0.3s, box-shadow 0.3s;
}

/* navbar modal waitlist */
.navbar-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 99998;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease visibility 0.3s ease;
}

.navbar-waitlist-form {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.waitlist-navbar-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.95);
  width: 500px;
  height: 500px;
  max-width: 90%;
  border: 1px solid #eeeeee;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.15);
  z-index: 99999;
  background-color: white;
  visibility: hidden;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}

/* waitlist modal */
.waitlist-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.95);
  width: 500px;
  height: 500px;
  max-width: 90%;
  border: 1px solid #eeeeee;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.15);
  z-index: 99999;
  background-color: white;
  visibility: hidden;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.modal-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.modal-content .socials {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}

.modal-content .socials .social-icons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1.5rem;
}

.modal-content .completed-icon {
  font-size: 5rem;
  color: var(--primary-red);
}

.modal-content .message {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.modal-content .message h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.modal-content .social-link {
  font-size: 2rem;
  color: var(--primary-red);
  transition: color 0.2s ease;
  border-radius: 8px;
  padding: 4px 14px;
  border: 1px solid var(--primary-red);
}

.mod .waitlist-input:focus {
  outline: none;
  border-color: var(--primary-red);
  box-shadow: 0 0 0 2px rgba(232, 14, 14, 0.2);
}

.waitlist-modal .close-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  background: none;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.2s ease;
  border: none;
}

.waitlist-modal .close-modal:hover {
  background-color: var(--primary-red);
  color: var(--primary-white);
}

.waitlist-navbar-modal .close-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 4px;
  border: none;
  font-size: 1.2rem;
  background: none;
  cursor: pointer;
  padding: 0.5rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99998;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease visibility 0.3s ease;
}

.modal-overlay.modal-show {
  visibility: visible;
  opacity: 1;
  backdrop-filter: blur(5px);
}

.waitlist-modal.modal-show {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

.navbar-modal-overlay.modal-show {
  visibility: visible;
  opacity: 1;
  backdrop-filter: blur(5px);
  transform: translate(-50%, -50%) scale(1);
}

.modal-overlay.modal-close {
  opacity: 0;
  visibility: hidden;
}

body.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

.waitlist-input::placeholder {
  color: var(--medium-gray);
}

.email-input {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* Request access button */
.request-access-btn {
  border-radius: 12px;
  width: 100%;
  max-width: 1200px;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem;
  border: none;
  color: white;
  background-color: var(--primary-red);
}

.btn-waitlist {
  z-index: 1;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  background: var(--red-to-darkRed);
  border: none;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  font-weight: 600;
  white-space: nowrap;
  transition: background-color 0.3s;
  text-transform: uppercase;
  color: var(--primary-white);
}

.btn-waitlist:hover {
  background-color: #ba0b0b;
}
/* For responsive design */
@media (max-width: 768px) {
  .email-input {
    flex-direction: column;
    width: 100%;
  }

  .waitlist-input::placeholder {
    text-align: center;
  }

  .waitlist-input {
    width: 70%;
  }

  .btn-waitlist {
    width: 70%;
    text-align: center;
  }

  .hero-content {
    flex-direction: column;
    padding: 2rem 1rem;
    align-items: center;
  }

  .hero-content-left {
    align-items: center;
    text-align: center;
    padding: 0;
  }

  .hero-content-left h1 {
    font-size: 36px;
    line-height: 44px;
  }

  .hero-content-left h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .hero-content-right {
    margin-top: 2rem;
    height: 300px;
  }

  .hero-image-1 {
    max-width: 90%;
  }

  .hero-image-2,
  .hero-image-3 {
    max-width: 70%;
  }

  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .brands-subsection {
    padding: 2rem 0;
  }

  .brand-item {
    min-width: 100px;
    height: 70px;
  }

  .features-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on tablets */
    padding: 1.5rem;
  }
}
